@{
    ViewBag.Title = "Home Page";
}
<div class="wrapper">
    <div class="container" ng-controller="DashboardController">
        {{foo}}
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-primary">Real Time DashBoard Dashboard</h1>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="message">Message</label>
                        <input type="text" id="message" value="" />
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-success">Send</button>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <h3>Messages</h3>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts {
    <script src="~/signalr/js"></script>
    <!--<script>
        $(document).ready(function () {
            var connection = $.connection.hub;
            connection.start()
                .fail(function () { console.log("no"); })
                .done(function () {
                    console.log("yes");
                    var hub = $.connection.helloWorldHub;
                    hub.server.helloWorldEverybody("Hola");
                });

            $.connection.helloWorldHub.client.showMessage = function (msg) {
                console.log(msg, "message");
            };

        });
        //Ctrl + k, d
    </script>-->
}
